<div class="flex flex-col sm:flex-row sm:items-center mb-8">
  <h1 class="dark:text-white uppercase tracking-wider font-semibold flex-auto">Inicio</h1>
</div>
<div>
    <h1 class="dark:text-white text-3xl font-semibold text-center">What are we building today?</h2>
</div>