<div>
  <code class="text-sm">
    <%= commit_version %>
  </code>
  <b class="ml-3">
    <time data-controller="timeago" datetime="<%= commit_time %>">
      <%= commit_time %>
    </time>
  </b>
</div>
